{% extends 'base.html.twig' %}

{% block title %}Excuses De Dev : à propos{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <h2>Excuses de Dev</h2>
        <p>
            Excusesdedev.infos.st est un projet créé par Olivier Prieur (citizenz7) en juillet 2021.<br>
            Le site a été codé avec Symfony 5.
        </p>
        <p>
            Il existe déjà plusieurs sites de ce type mais il s'agissait avant tout de montrer mon savoir faire avec
            Symfony.<br>
            J'ai utilisé quelques bundles Symfony : knp-paginator-bundle, easyadmin-bundle, beberlei/doctrineextensions
            pour l'utilisation de RAND() avec MySQL, ...
        </p>
    </div>
</div>

<div class="row mb-4">
    <div class="col bg-light rounded border-warning border p-3 mx-2">
        <p class="fw-bold">
            [ juillet 2021 ] <span class="text-warning fw-bold">#OpenToWork</span>
            <br>
            Je recherche un emploi de développeur web PHP/Symfony sur la région de Nevers - France, ou en télétravail
            (total ou partiel)
            <br>
            <span class="text-success"><i class="fas fa-exclamation"></i> Je saurai être mobile sur toute la France pour
                un projet passionnant, notamment sur la région de Vannes (56), sur la région de Toulon (83), région
                parisienne, région de Clermont-Ferrand (63), ...</span>
        </p>
        <p>
            <i class="far fa-check-square"></i> Visitez mon portfolio : <a href="https://www.olivierprieur.fr"
                target="_blank">https://www.olivierprieur.fr</a>
            <br>
            <i class="far fa-check-square"></i> Visitez mon blog : <a href="https://www.citizenz.info"
                target="_blank">https://www.citizenz.info</a>
            <br>
            <i class="far fa-check-square"></i> Visitez le site de ma cryptomonnaie : <a
                href="https://www.pengolincoin.xyz" target="_blank">https://www.pengolincoin.xyz</a>
        </p>
        <p>
            <i class="fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/in/oprieur-pro/"
                target="_blank">https://www.linkedin.com/in/oprieur-pro/</a>
            <br>
            <i class="fab fa-github"></i> <a href="https://github.com/citizenz7"
                target="_blank">https://github.com/citizenz7</a>
            <br>
            <i class="fab fa-gitlab"></i> <a href="https://gitlab.com/citizenz7"
                target="_blank">https://gitlab.com/citizenz7</a>
            <br>
            <i class="fab fa-twitter"></i> <a href="https://twitter.com/citizenz58"
                target="_blank">https://twitter.com/citizenz58</a>
        </p>
        <p class="mt-4">
            Me contacter :<br>
            <i class="fas fa-envelope"></i> contact AT olivierprieur.fr<br>
            <i class="fas fa-at"></i> ou directement depuis le formulaire de contact sur mon portfolio
            : <a href="https://www.olivierprieur.fr/contact" target="_blank">https://www.olivierprieur.fr/contact</a>
        </p>
    </div>
</div>

{% endblock %}